@model SDTicaret.Web.Models.ContractDto

@{
    ViewData["Title"] = "Sözleşme Sil";
}

<h1>Sözleşme Sil</h1>

<h3>Bu sözleşmeyi silmek istediğinizden emin misiniz?</h3>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupplierId)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContractType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractType)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Geri Dön</a>
    </form>
</div> 
